@model EventViewModel
@{
    ViewData["Title"] = "Detail";
}

@await Component.InvokeAsync("Banner", "EventDetails")

<!-- Event Details Start -->
<div class="event-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img src="~/img/event/@Model.Event.Image" alt="event-details">
                        <div class="event-date">
                            <h3>@Model.Event.TimeStart.ToString("dd") <span>@Model.Event.TimeStart.ToString("MMM")</span></h3>
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@Model.Event.Name</h2>
                        <ul>
                            <li><span>time:</span> @Model.Event.TimeStart.ToString("h:mm tt") - @Model.Event.TimeEnd.ToString("h:mm tt")</li>
                            <li><span>venue : </span>@Model.Event.VenuePlace @Model.Event.VenueCity</li>
                        </ul>
                        @Html.Raw(Model.Event.Description)

                        <div class="speakers-area fix">
                            <h4>speakers</h4>
                            @foreach (var speaker in Model.Event.EventSpeakers)
                            {
                                <div class="single-speaker">
                                    <div class="speaker-img" style="height: 80px; width: 90px">
                                        <img src="~/img/event/@speaker.Speaker.Image" alt="speaker">
                                    </div>
                                    <div class="speaker-name">
                                        <h5>@speaker.Speaker.Fullname</h5>
                                        <p>@speaker.Speaker.Position, @speaker.Speaker.Company </p>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                        <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut<br> the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
                        <form id="contact-form" action="http://demo.devitems.com/eduhome/mail.php" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Name</p>
                                    <input type="text" name="name" id="name">
                                </div>
                                <div class="col-md-12">
                                    <p>Email</p>
                                    <input type="text" name="email" id="email">
                                </div>
                                <div class="col-md-12">
                                    <p>Subject</p>
                                    <input type="text" name="subject" id="subject">
                                    <p>Massage</p>
                                    <textarea name="message" id="message" cols="15" rows="10"></textarea>
                                </div>
                            </div>
                            <a class="reply-btn" href="#" data-text="send"><span>send message</span></a>
                            <p class="form-messege"></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    @*<div class="single-blog-widget mb-50">
                            <h3>search</h3>
                            <div class="blog-search">
                                <form id="search" action="#">
                                    <input type="search" placeholder="Search..." name="search" />
                                    <button type="submit">
                                        <span><i class="fa fa-search"></i></span>
                                    </button>
                                </form>
                            </div>
                        </div>*@
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            @foreach (var category in Model.Categories)
                            {
                                <li><a asp-action="Index" asp-route-categoryId="@category.Id">@category.Name (@category.EventLists.Count)</a></li>
                            }
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a href="blog-details.html" id="blog"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>
                        @foreach (var item in Model.BlogList)
                        {
                            <div class="single-post mb-30">
                                <div class="single-post-img">
                                    <a href="blog-details.html">
                                        <img src="~/img/blog/@item.Image" style="width: 100px; height: 100px" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></h4>
                                    <p>By @item.Author  /  @item.PublishDate.ToString("MMMM dd, yyyy")</p>
                                </div>
                            </div>
                        }
                    </div>
                    @*<div class="single-blog-widget">
                            <h3>tags</h3>
                            <div class="single-tag">
                                <a href="blog-details.html" class="mr-10 mb-10">course</a>
                                <a href="blog-details.html" class="mr-10 mb-10">education</a>
                                <a href="blog-details.html" class="mb-10">teachers</a>
                                <a href="blog-details.html" class="mr-10">learning</a>
                                <a href="blog-details.html" class="mr-10">university</a>
                                <a href="blog-details.html">events</a>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event Details End -->
