
@{
    ViewData["Title"] = "Index";
}


@{
    ViewData["Title"] = "Index";
    List<UserViewModel> users = Model;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Categories</h4>
                <a asp-action="Create" class="btn btn-primary">Create</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fullname</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in users)
                            {
                                <tr>
                                    <td>@user.Fullname</td>
                                    <td>@user.Username</td>
                                    <td>@user.Email</td>
                                    <td>@user.Role</td>
                                    <td>
                                        <a asp-action="Detail" asp-route-id="@user.Id" class="btn btn-success">Detail</a>
                                        <a asp-action="Update" asp-route-id="@user.Id" class="btn btn-warning">Update</a>
                                        <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



