
@{
    ViewData["Title"] = "Index";
    List<BlogList> blogList = Model;
}

@await Component.InvokeAsync("Banner", "Blog")
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search blogs</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input type="search" placeholder="Search..." name="search" />
                        <button asp-action="Search" type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in blogList)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog mb-60">
                        <div class="blog-img">
                            <a asp-action="Detail" asp-route-id="@item.Id"><img src="~/img/blog/@item.Image" alt="blog"></a>
                            <div class="blog-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>By @item.Author  /  @item.PublishDate.ToString("MMMM dd, yyyy") /  <i class="fa fa-comments-o"></i> @item.Comment</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a asp-action="Detail" asp-route-id="@item.Id">@item.Title </a></h2>
                                <a asp-action="Detail" asp-route-id="@item.Id">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="row">
            <ul class="pagination pagination-lg">
                @for (int i = 1; i <= ViewBag.PageCount; i++)
                {
                    if (ViewBag.Page == i)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-action="Index" asp-route-page="@i" tabindex="-1">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-page="@i" tabindex="-1">@i</a>
                        </li>
                    }

                }

            </ul>
        </div>
    </div>
</div>
<!-- Blog End -->
