@model List<CourseList>


<div class="container" style="width: 80%; align-items: center">
    <div class="row" style="display: flex; flex-direction: row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-course mb-70">
                    <div class="course-img">
                        <a asp-controller="Course" asp-action="Detail" asp-route-id="@item.Id">
                            <img src="~/img/course/@item.Image" alt="course">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="course-content">
                        <h3><a asp-controller="Course" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></h3>
                        <p>@item.Description</p>
                        <a asp-controller="Course" asp-action="Detail" asp-route-id="@item.Id" class="default-btn">read more</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>