
@{
    ViewData["Title"] = "CourseList Index";
    List<CourseList> courseList = Model;
}

@await Component.InvokeAsync("Banner", "Courses")
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input type="search" placeholder="Search..." name="search"/>
                        <button asp-action="Search" type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in courseList)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course mb-70">
                        <div class="course-img">
                            <a asp-controller="Course" asp-action="Detail" asp-route-id="@item.Id">
                                <img src="~/img/course/@item.Image" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-controller="Course" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></h3>
                            <p>@item.Description</p>
                            <a asp-controller="Course" asp-action="Detail" asp-route-id="@item.Id" class="default-btn">read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        @*<div class="row">
            <ul class="pagination pagination-lg">
                @for (int i = 1; i <= ViewBag.PageCount; i++)
                {
                    if (ViewBag.Page == i)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-action="Index" asp-route-page="@i" tabindex="-1">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-page="@i" tabindex="-1">@i</a>
                        </li>
                    }

                }

            </ul>
        </div>*@
    </div>
</div>
<!-- Course End -->
